.books{
  display: inline-block;
  
 
}
.books img{
  width: 13rem;
  height: 13rem;
  margin: 2rem;
}
.inputdata{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
input{
  width: 50rem;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;

}
button{
  width: 13rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: 2px solid whitesmoke;
}

body{
  background-color: black;
}

.bookinfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  margin: 3rem 2rem;
}
p{
  color: white;
}
.poster{
  display: flex;
  margin-inline: auto;
}